{{before_widget}}
    {{before_title}}
        <a href="{{permalink}}">
            {% if title != '' %}
                {{title}}
            {% else %}
                {{post_title}}
            {% endif %}
        </a>
    {{after_title}}

    {% if show_image %}
        <a href="{{permalink}}">
            <img src="{{image_url}}">
        </a>
    {% endif %}

    <div class="content">
        {{content}}{{excerpt_more}}
        <a href="{{permalink}}">{{link_title}}</a>
    </div>

    {% if show_categories %}
        <div class="categories">
            <b>Categories</b>
            <ul>
                {% for category in categories %}
                    <li><a href="{{category.url}}">{{category.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{{after_widget}}